body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    padding:30px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

h2{
    font-size:50px;
    color:black;
    margin:20px;
}

button{
    padding:10px 20px;
    font-size:20px;
    margin:5px;
    cursor:pointer;
}

button:disabled{
    opacity:0.5;
    cursor:not-allowed;
}