body{
    font-family:Arial,sans-serif;
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    transition:.3s;
}

.dark{
    background:#222;
    color:white;
}

.container{
    background:white;
    padding:30px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}

.dark .container{
    background:#333;
}

input{
    width:250px;
    padding:10px;
    font-size:16px;
    margin:10px;
}

.password-box{
    display:flex;
    justify-content:center;
    align-items:center;
}

.password-box input{
    margin-right:5px;
}

button{
    padding:10px 15px;
    cursor:pointer;
}

#greeting{
    font-size:20px;
    font-weight:bold;
}

#status{
    font-size:22px;
    color:red;
    font-weight:bold;
}
#themeBtn{
    margin-top:15px;
    padding:10px 20px;
    cursor:pointer;
}